    <div class="card shadow mb-2">
        <img src="/assets/img/other/placeholder.jpg" class="card-img-top" alt="Category thumnail image" />
        <div class="card-body">
            <h3 class="cart-title">
                Titel
            </h3>
            <p class="card-text">Beskrivning</p>
        </div>
        <a href="/" class="btn btn-primary stretched-link"></a>
    </div>
@code {

}
